@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

.dropdown {
  width: 80%;
  margin: 43px auto;
}
.dropdown_container {
  margin-bottom: 25px;
}
.dropdown_trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 45px;
  background: #ff6060;
  color: white;
  cursor: pointer;
  padding: 0px 13px;
}
.dropdown_title {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  margin: 5px 0px;
}
.dropdown_chevron {
  transition: all 0.5 ease;
  width: 13px;
}
.dropdown_chevron_rotate {
  transform: rotate(180deg);
  transition: all 0.5s ease;
  width: 13px;
}
.dropdown_body {
  opacity: 0;
  transition: max-height 0.3s ease;
  max-height: 0;
  overflow: hidden;
}
.dropdown_body_anim {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 300;
  color: #ff6060;
  background: #f7f7f7;
  border-radius: 5px;
  line-height: 34px;
  padding: 20px;
  pointer-events: none;
  height: auto;
  opacity: 1;
  transition: max-height 0.5s ease-in, opacity 0.3s ease-in;
}

@keyframes max-height {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
