/* Navigation */
header {
  margin: 40px auto 0 auto;
  width: 90%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav_logo img {
  width: 100%;
  height: auto;
}

.nav_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 34px;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav_link a {
  list-style-type: none;
  text-decoration: none;
  color: #ff6060;
  margin-right: 25px;
  margin-left: 25px;
}

.nav_active {
  position: relative;
}

.nav_active::after {
  content: "";
  height: 2px;
  width: 0;
  background: #ff6060;
  position: absolute;
  border-radius: 10px;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  animation: anim 0.6s ease forwards;
}

/* Keyframes */
@keyframes anim {
  to {
    width: 100%;
  }
}

/* MediaQueries */
@media all and (max-width: 812px) {
  header {
    margin: 20px 20px;
  }
  .nav_logo {
    width: 145px;
  }
  .nav_link {
    font-size: 12px;
    line-height: 23px;
    text-transform: uppercase;
    text-shadow: none;
  }
  .nav_link a {
    margin-right: 7px;
    margin-left: 7px;
  }
  .nav_active::after {
    height: 1px;
  }
}
