@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* All */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
}

/* Navigation */
header {
  margin: 40px 100px 0 100px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1240px;
}

.nav_logo {
  width: 80%;
}

.nav_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 34px;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav_link a {
  list-style-type: none;
  text-decoration: none;
  color: #ff6060;
}

.nav_active {
  position: relative;
}

.nav_active::after {
  content: "";
  height: 2px;
  width: 0;
  background: #ff6060;
  position: absolute;
  border-radius: 10px;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  animation: anim 0.6s ease forwards;
}

@keyframes anim {
  to {
    width: 100%;
  }
}

/* Banner Body */
.banner_home {
  margin: 63px 100px 0 100px;
  width: 1240px;
  border-radius: 25px;
  padding: 78px 262px 77px 273px;
  background: url(../../public/assets/banner-homepage.png),
    center/cover #00000050;
  background-blend-mode: darken;
}

.banner_home h2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 48px;
  line-height: 68px;
  color: #ffff;
  background: none;
}

/* Home Cards */
.cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 25px;
  background-color: #f6f6f6;
  width: 1240px;
  margin: 43px 100px 50px 100px;
  padding: 56px 20px 0px 50px;
}

.card_thumb {
  position: relative;
  border-radius: 10px;
  margin: 0px 50px 60px 0px;
  width: 340px;
  height: 340px;
}

.card_thumb:hover {
  transform: scale(1.1);
  transition: 0.4s ease;
}

.card_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #ff6060
    linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  object-fit: cover;
}

.card_text {
  position: absolute;
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;

  color: #ffffff;
}

/* Footer */
.footer {
  width: 100%;
  height: 209px;
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_img {
  width: auto;
  margin-bottom: 29px;
}

.footer_text {
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
}
