@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* All */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 124rem;
}

/* Banner Body */
.banner_home {
  margin: 63px auto 0 auto;
  width: 90%;
  height: 223px;
  border-radius: 25px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  background: url(../../public/assets/banner-homepage.png),
    center/cover #00000050;
  background-blend-mode: darken;
  background-size: 100% 100%;
}

.banner_home h2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3.4vw;
  line-height: 68px;
  color: #ffff;
}

/* Home Cards */
.cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 25px;
  background-color: #f6f6f6;
  width: 90%;
  margin: 43px auto 50px auto;
  padding: 3% 1% 0;
}

.cards a {
  display: contents;
}

.card_thumb {
  position: relative;
  border-radius: 10px;
  margin: 0 1% 3% 2%;
  width: 30%;
  aspect-ratio: 1/1;
}

.card_thumb:hover {
  transform: scale(1.1);
  transition: 0.4s ease;
}

.card_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #ff6060
    linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  object-fit: cover;
}

.card_text {
  position: absolute;
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;

  color: #ffffff;
}

/* Media Queries */
@media all and (max-width: 812px) {
  /* Banner */
  .banner_home {
    height: 111px;
    background-size: cover;
    border-radius: 10px;
    justify-content: flex-start;
    background-position: center;
  }
  .banner_home h2 {
    margin-left: 16px;
    margin-right: 80px;
    font-size: 24px;
    line-height: normal;
  }

  /* Cards */
  .cards {
    justify-content: center;
    background-color: #fff;
  }
  .card_thumb {
    width: 100%;
  }
  .card_thumb:hover {
    transform: scale(1.05);
  }
}
